.item {
  display: flex;
  padding: 20px;
  align-items: center;
  box-shadow: 0px 5px 25px 5px grey;
  border-radius: 25px 0px 25px 0px;
  margin-bottom: 15px;
  background-color: ivory;
}

.status__online {
  display: block;
  color: #adff2f;
  font-weight: bold;
}

.status__offline {
  display: block;
  color: #ff0000;
  font-weight: bold;
}

.avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ffffff;
}

.name {
  width: 20%;
  color: #212121;
  font-weight: bold;
}